* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
.action {
    position: fixed;
    top: 30px;
    right: 30px;
  }

  .action .profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
.action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: #ff5d94;
  }
.custom-dropdown {
    background-color: #f8f9fa; /* Couleur de fond */
    border: 1px solid #ced4da; /* Bordure */
    border-radius: 0.25rem; /* Coins arrondis */
    padding: 0.5rem; /* Espace intérieur */
}
.custom-link {
    color: #ffffff; /* Couleur du texte */
    font-weight: bold; /* Gras */
    text-decoration: none; /* Supprime le soulignement du lien */
    padding: 7px 14px; /* Espacement intérieur (padding) du lien */
    border-radius: 10px; /* Bordure arrondie */
    background-color: #238bfa; /* Couleur de fond */
}

.custom-link:hover {
    background-color: #036cdc; /* Couleur de fond au survol */
    color: #ffffff; /* Couleur du texte au survol */
}
body {
    background-image: url('/images/blue-brushstrokes-background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #fff;
    border-radius: 10px; /* Ajoutez une bordure arrondie aux coins du tableau */
    overflow: hidden; /* Assurez-vous que le contenu du tableau reste dans les coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour donner un effet de profondeur */
}

.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table .badge {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
}

.custom-navbar {
  background-color: #b9b5b5; /* Couleur de fond */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3), 0 15px 35px rgba(0, 0, 0, 0.3);}

